.wrapper {
  width: calc(100vw - 270px);
  height: calc(100vh - 65px);
  display: flex;
  gap: 10px;
  padding-top: 20px;
}
.list {
  width: 60%;
  height: 100%;
  margin-left: 15px;
}
.promotion {
  width: 100%;
  margin: 0 auto;
  height: 30vh;
  background-image: url(../../public/img/bg.jpg);
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 7px;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 25px;
}
.promotion p {
  font-size: 19px;
  color: #fff;
  font-family: sans-serif;
  font-weight: 600;
  padding-bottom: 7px;
}
.promotion span {
  color: #fff;
  font-size: 13px;
}
.btn-wrapper {
  width: 100%;
  height: 46px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.btn {
  width: 120px;
  height: 29px;
  cursor: pointer;
  border: 1px solid var(--primary-bg);
  border-radius: 5px;
  cursor: pointer;
  font-size: 11px;
  font-weight: 600;
}
.btn.explore {
  background-color: var(--secondary-bg);
  color: green;
}

.btn.top {
  background-color: transparent;
  color: var(--secondary-bg);
}
.activityWrapper {
  width: 100%;
  height: calc(100% - 30vh);
  padding: 28px 0 15px;
}
.activityWrapper div {
  display: flex;
  width: 100%;
  align-items: center;
  height: 20px;
  justify-content: space-between;
}
.activityWrapper div h2 {
  color: rgb(8, 193, 8);
  font-weight: 600;
  font-size: 15px;
}
.activityWrapper div span {
  font-size: 12px;
  cursor: pointer;
  text-transform: capitalize;
  transition: 0.2s ease-in;
}
.activityWrapper div span:hover {
  color: green;
}
.activityWrapper ul {
  margin-top: 17px;
  width: 100%;
  max-height: 270px;
  padding: 7px;
  display: flex;
  gap: 7px;
  flex-direction: column;
  overflow: scroll;
}

.activityWrapper ul::-webkit-scrollbar {
  display: none;
}
.activity {
  display: flex;
  gap: 5px;
  width: 100%;
  height: 46px;
  background-color: var(--secondary-bg);
  border-radius: 5px;
}
.activity > span img {
  width: 35px;
  height: 80%;
  border-radius: 50%;
  object-fit: contain;
}
.activity > div {
  padding: 5px 7px;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.activity > div p {
  font-weight: 600;
  font-size: 12px;
}
.activity span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
