@font-face {
  font-family: monstera;
  src: url(../public/font/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: poppins;
  src: url(../public/font/Poppins-Regular.ttf);
}

:root {
  --primary-bg: #f6f6f6;
  --secondary-bg: #fff;
  --text-color: #333;
  --secondary-text-color: #464545;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: poppins;
}
body {
  background-color: var(--primary-bg);
  color: var(--text-color);
}
